@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 212, 212, 212;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;
}
}

@layer base {
* {
  @apply border-border;
}
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
      );
}
}

@layer utilities {
  .text-balance {
  text-wrap: balance;
}
}

.hide-scrollbar {
  overflow-y: scroll; /* Ensure the element is scrollable */
  scrollbar-width: none;  /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, and Opera */
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-center {
@apply flex justify-center items-center;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-xl font-semibold;
}

h4 {
  @apply text-lg font-semibold;
}